Standard: c++20
BasedOnStyle: Google

IndentWidth: 4
UseTab: Never
ColumnLimit: 80
PenaltyIndentedWhitespace: 5

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
InsertBraces: true

ForEachMacros: ['for_range']
IfMacros: ['defer_if']

AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false

AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakAfterAttributes: Always

QualifierAlignment: Custom
QualifierOrder:
- inline
- static
- constexpr
- const
- volatile
- restrict
- friend
- type

IntegerLiteralSeparator:
  Hex: 4
  Binary: 4
  Decimal: 3
  DecimalMinDigits: 5

SortUsingDeclarations: Lexicographic

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    "preamble.h"
    Priority: -2

  # standard library non-stl headers
  - Regex:    <(cxxabi.h|unistd.h|sys/stat.h)>
    Priority: 1

  # verilator
  - Regex:    <verilated.*\.h>
    Priority: 2

  # verilated header
  - Regex:    V.*\.h
    Priority: 0

  - Regex:    <.*\.h>
    Priority: 3

  # stl headers
  - Regex:    <.*>
    Priority: 1
